@use "./module/variable"as var;

@use "./module/*";
html {
	scroll-behavior: auto;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var.$blk;
    width: 100vw;
}

.blc{
    &__inner{
        width: var.$pcbp;
        margin: 0 auto;
    }
}

.pc{
    display: block;
}
.sp{
    display: none;
}
@media screen and (max-width: var.$spbp) {
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
}


.header{
    .header__ttl, .header__subttl{
        opacity: 0;
    }
    &.is-show {
        .header__ttl{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 2s;
        } 
        .header__subttl{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 3s;
        }
    } 
}


.area__map{
    .area__map--img{
        opacity: 0;
    }
    &.is-show {
        .area__map--img{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 2s;
        } 

    } 
}

.area__spot1--opacity{
    .area__spot1--blc-small1, .area__spot1--blc-small2{
        opacity: 0;
    }
    &.is-show {
        .area__spot1--blc-small1{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 2s;
        } 
        .area__spot1--blc-small2{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 3s;
        }
    } 
}

.area__spot2{
    .area__spot1--blc{
        opacity: 0;
    }
    &.is-show {
        .area__spot1--blc{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 2s;
        } 

    } 
}
.area__spot3{
    .area__spot1--blc{
        opacity: 0;
    }
    &.is-show {
        .area__spot1--blc{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 3s;
        } 

    } 
}

.cafe__blc{
    .cafe__test--img, .cafe__menu{
        opacity: 0;
    }
    &.is-show {
        .cafe__test--img, .cafe__menu{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 3s;
        } 

    } 
}
.goods__test{
    .goods__test--img{
        opacity: 0;
    }
    &.is-show {
        .goods__test--img{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 3s;
        } 

    } 
} 

.area__spot1--topblc{
    .area__spot1--topblc--wrapper{
        opacity: 0;
    }
    &.is-show {
        .area__spot1--topblc--wrapper{
            opacity: 1;
            animation-name: fadeUpAnime;
            animation-duration: 3s;
        } 

    } 
}
.fadein01, .fadein02, .fadein03, .fadein04, .fadein05, .fadein06, .fadein07, .fadein08, .fadein09{
    opacity: 0;
    transition: all 600ms;
    transform : translate(0, 0);
    &.scrollin{
        opacity: 1;
        transform : translate(0, 0);
    }
}

//フェイドインアニメ
@keyframes fadeUpAnime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate-anime2 {
    0%  {transform: rotate(180deg);}
    100%  {transform: rotate(0);}
  }
@keyframes rotate-anime {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(180deg);}
  }
@media screen and (max-width: var.$spbp) {
    .blc{
        &__inner{
            width: 100%;
            position: relative;
        }
    }
}

.blc__inner{
    width: var.$pcbp;
    margin: 0 auto;
    @media screen and (max-width: var.$spbp) {
            width: 100%;
    }
}

//フェイドイン
.scroll-up, .scroll-up02, .scroll-up03 {
    opacity: 0; 
    visibility: hidden;
    transform: translateY(30px);
    transition: all 2s;
    &.showup {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
  }
  .load-active {
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
    
  }
  .load-active.is-show {
    opacity: 1;
    visibility: visible;
  }


// @include var.webpBg('.header__top--txt', var.$imgpath+'ttl_faq', 'png');
