<section id="about" class="about">
    <div class="blc__inner">
        <div class="about__inner">
            <div class="load-fade">
                <div class="scroll-up">
                    <h2 class="about__ttl">ABOUT</h2>
                </div>
            </div>
            <div class="load-fade">
                <div class="scroll-up">
                    <h3 class="about__subttl"><span>まだ見ぬ世界</span><br>
                        <span>”Another World”を目指す</span><br>
                        <span>ZIPANG OPERAの新たな航海</span></h3>
                </div>
            </div>
            <div class="load-fade">
                <div class="scroll-up">
                    <p class="about__txt">
                        これまでの伝統的な日本カルチャーとは一線を画す、全く新しいジャパニーズポップを世界に向けて発信する音楽パフォーマンスユニット『ZIPANG OPERA』<br>
                        <br>
                        『ZIPANG OPERA』の新たな挑戦として、多彩な音楽アプローチを最新テクノロジーを通して、日本、そして世界へ新たなジャパニーズポップを届けていく。<br>
                        <br>
                        ANCHOR (ZIPANG OPERAのファン名称)と共に、”ZIPANG OPERA SHIP”に乗船し、リアルとデジタル、そしてまだ見ぬ世界”Another
                        World”を目指す航海が今始まります…
                    </p>
                </div>
            </div>
            <div class="about__bg01">bg01</div>
            <div class="about__bg02">bg02</div>
        </div>
    </div>
</section>

<section id="whatz" class="whatz">
    <div class="blc__inner">
        <div class="load-fade">
            <div class="scroll-up">
                <h2 class="whatz__ttl01">whtas</h2>
            </div>
            <div class="scroll-up02">
                <h2 class="whatz__ttl02">zipang</h2>
            </div>
            <div class="scroll-up03">
                <h2 class="whatz__ttl03">opera</h2>
            </div>
        </div>

        <div class="whatz__txt--wrapper">
            <div class="load-fade">
                <div class="scroll-up">
                    <p class="whatz__txt" id="whatzTxt">
                        「ZIPANG OPERA」は、ライブ・スペクタクル『NARUTO
                        ナルト』でうちはサスケ、舞台「呪術廻戦」では⻁杖悠仁を演じ、ミュージカル『⼑剣乱舞』加州清光としてはソロライブ公演のアジアツアーを⾏う等、ワールドワイドに活躍をしている佐藤流司。<br>
                        「進撃の巨⼈」-the Musical-、ハイパープロジェクション演劇『ハイキュー』、ミュージカル『⿊執事』に出演し、振付家としても活躍している福澤 侑。<br>
                        ミュージカル『⼑剣乱舞』、舞台『⿊⼦のバスケ』、ミュージカル『ジャージー・ボーイズ』、『RENT』等に出演し、圧倒的な歌唱⼒で定評のあるspi。<br>
                        そして⼀聴して記憶に残る魅⼒的な歌声を持つボーカリスト⼼之介の4⼈による、これまでの伝統的な⽇本カルチャーとは⼀線を画す、全く新しいジャパニーズポップを世界に向けて発信する⾳楽パフォーマンスユニット。<br>
                        アーティスト名「ZIPANG
                        OPERA」は⼀曲⼀曲が歌劇になっているようなパフォーマンスを⾏うことから命名された。EDM、エレクトロ・ポップ、ミクスチャー、ラップ、ポップなど様々な⾳楽アプローチで独特の⽇本(和)の世界観を表現する。<br>
                        楽曲によってそれぞれのメンバーの特性を⽣かして世界観が変化する所も⾒どころである。
                        アーティストプロデューサーは演出家としても活躍するPaniCrewの植⽊豪が務める。
                        <span class="bgWhatz">&nbsp;</span>

                    </p>
                </div>
                <div class="sp load-fade">
                    <div class="scroll-up" id="whatzBtn">
                        <p class="whatz__more">
                            <a class="whatz__more--link">VIEW MORE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-fade">
            <ul class="whatz__sns">
                <li class="scroll-up">
                    <a href="https://twitter.com/zipang_opera" class="whatz__sns--tw" target="_blank" rel="noopener noreferrer">Twitter</a>
                </li>
                <li class="scroll-up02">
                    <a href="https://www.youtube.com/channel/UCrTmuRfKIPf4Re8-Hg39ADw/featured" class="whatz__sns--youtube" target="_blank" rel="noopener noreferrer">Youtube</a>
                </li>
                <li class="scroll-up03">
                    <a href="https://www.tiktok.com/@zipang_opera" class="whatz__sns--tiktok" target="_blank" rel="noopener noreferrer">Tiktok</a>
                </li>
            </ul>
        </div>
    </div>
</section>

　