<section id="faq" class="faq">
    <div class="blc__inner">
        <h2 class="faq__ttl">FAQ</h2>
        <dl class="faq__accordion top">
            <dt class="faq__accordion--ttl">プロジェクトの詳細について教えてください。</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>ZIPANG ZIPANG OPERAが奏でるジャパニーズポップを、新しいインターネット時代"web3"を通じて、世界に発信していきます。NFTの発行やメタバースの創造にも進出していく予定です。</p>
                </div>
            </dd>
        </dl>

        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">web3とは？</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>"web3"は、ブロックチェーン技術の進化によって生まれた、次世代のインターネット時代を指します。NFTは唯一無二のデジタルデータ、メタバースは仮想空間を提供します。メンバーやAnchor(ファン)は、こうした空間で遊ぶことができます。
                    </p>
                </div>

            </dd>
        </dl>

        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">NFTとは何ですか？</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>NFTは、Non-Fungible Token（非代替トークン）の略称で、ブロックチェーン技術を利用して作成されたデジタル資産のことです。NFTは、その資産を一意に識別するためのトークンであり、芸術作品、音楽など、様々なものがNFTとして販売されています。</p>
                </div>
            </dd>
        </dl>
        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">メタバースとは何ですか？</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>メタバースは、仮想現実空間やオンラインゲームなど、リアルな世界とは異なるデジタル空間のことです。メタバースでは、プレイヤーは仮想のアバターを操作し、他のプレイヤーと交流することができます。</p>
                </div>
            </dd>
        </dl>
        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">ZIPANG OPERA SHIPとは？</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>ZIPANG OPERAのコミュニティーであり、コミュニケーションサービス「Discord」を利用しています。ここでは、Anchor(ファン)同士が交流したり、イベントやプロジェクトのアナウンスに参加できます。</p>
                </div>
            </dd>
        </dl>
        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">AL(Allow List)をもらう方法は？</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>Allow ListというNFTを優先的に購入できる権利は、コミュニティー「ZIPANG OPERA SHIP」内でアナウンスされます。Discordコミュニティーに参加して、アナウンスをお待ちください。</p>
                </div>
            </dd>
        </dl>
        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">使用するブロックチェーンは何ですか？</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>当プロジェクトでは、Astar Networkを使用してNFTやメタバースを展開していきます。</p>
                </div>
            </dd>
        </dl>
    </div>
</section>

　