<header id="header" class="header">
    <div class="header__inner">
        <h1 class="header__logo">ZIPANG OPERA Anotherworld</h1>
        <a href="./index.html" class="header__jpen">JP/EN</a>
    </div>
</header>

<div class="header__top">
    <div class="pc">    
        <picture>
            <source srcset="./img/top_pc.webp" type="image/webp">
            <img src="./img/top_pc.jpg" alt="" width="2732" height="1532">
        </picture>
    </div>
    <div class="sp">
        <picture>
            <source srcset="./img/top_sp.webp" type="image/webp">
            <img src="./img/top_sp.png" alt="" width="2754" height="1836">
        </picture>
    </div>
    <div class="header__top--txt">
        <div class="header__top--txt-in">
            <p>A new voyage of ZIPANG OPERA aiming for the yet unseen world, "Another World"</p>
        </div>
    </div>

    <div class="load-active">
        <div class="header__top--logo">
            <picture>
                <source srcset="./img/another_logo.webp" type="image/webp">
                <img src="./img/another_logo.png" alt="" width="845" height="435">
            </picture>
        </div>
    </div>
    <div class="header__top--discord">
        <a href="" target="_blank" rel="noopener noreferrer">
            <picture>
                <source srcset="./img/discord-mark.webp" type="image/webp">
                <img src="./img/discord-mark.png" alt="" width="338" height="338">
            </picture>
        </a>
    </div>
</div>
<div class="pc">

    <div class="header__frame--top">
        <picture>
            <source srcset="./img/pc-frame_top.webp" type="image/webp">
            <img src="./img/pc-frame_top.png" alt="" width="4098" height="196">
        </picture>

    </div>

    <div class="header__frame--bottom">
        <picture>
            <source srcset="./img/pc-frame_bottom.webp" type="image/webp">
            <img src="./img/pc-frame_bottom.png" alt="" width="4098" height="172">
        </picture>

    </div>

    <div class="header__frame--right">
        <picture>
            <source srcset="./img/pc-frame_right.webp" type="image/webp">
            <img src="./img/pc-frame_right.png" alt="" width="220" height="1705">
        </picture>

    </div>

    <div class="header__frame--left">
        <picture>
            <source srcset="./img/pc-frame_left.webp" type="image/webp">
            <img src="./img/pc-frame_left.png" alt="" width="162" height="1705">
        </picture>
    </div>

</div>


<div class="sp">
    <div class="header__frame--top">
        <picture>
            <source srcset="./img/sp-frame_top.webp" type="image/webp">
            <img src="./img/sp-frame_top.png" alt="" width="1125" height="160">
        </picture>
    </div>

    <div class="header__frame--bottom">
        <picture>
            <source srcset="./img/sp-frame_btm.webp" type="image/webp">
            <img src="./img/sp-frame_btm.png" alt="" width="1125" height="159">
        </picture>
    </div>

    <div class="header__frame--right">
        <picture>
            <source srcset="./img/sp-frame_right.webp" type="image/webp">
            <img src="./img/sp-frame_right.png" alt="" width="105" height="1490">
        </picture>

    </div>

    <div class="header__frame--left">
        <picture>
            <source srcset="./img/sp-frame_left.webp" type="image/webp">
            <img src="./img/sp-frame_left.png" alt="" width="92" height="1490">
        </picture>
    </div>

</div>