@use "./variable"as var;

.faq {
    background-color: var.$blk;
    padding: 0;

    &__inner {
        padding: 0;
    }

    &__ttl {
        @include var.bg();
        background-image: url('../../img/ttl_faq.svg');
        width: 147px;
        height: 62px;
        margin: 0 auto 40px;
    }

    &__accordion {
        margin: 0 auto;
        border-bottom: 1px solid #fff;
        &.top{
            border-top: 1px solid #fff;
        }
        &--ttl {
            position: relative;
            color: #fff;
            @include var.fz(18);
            line-height: 1.5;
            padding:30px 30px 30px 50px;
            background-image: url('../../img/ttl_q.svg');
            background-size: 34px 34px;
            background-repeat: no-repeat;
            background-position: left 0 center;
            cursor: pointer;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                width: 28px;
                height: 2px;
                background: #fff;
                transition: 0.2s ease transform;
            }

            &:after {
                transform: translate(0, -50%) rotate(-90deg);
            }

            &.active {
                &:after {
                    transform: translate(0, -50%) rotate(0deg);
                }
            }
        }

        &--cnt {
            max-height: 0;
            overflow: hidden;
            transition: 0.2s ease max-height;
            margin-left: 0;
            &inner{
                line-height: 1.5;
                color: #FFF;
                @include var.fz(18);
                padding:0 30px 30px 50px;
                background-image: url('../../img/ttl_a.svg');
                background-size: 34px 34px;
                background-repeat: no-repeat;
                background-position: left 0 top 0;
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
    }

    //faq
    @media screen and (max-width: var.$spbp) {
        padding: 0;
        width: 100%;

        .blc__inner {
            padding: 0;
            margin: 0 auto;
            width: 76.6vw;
        }

        &__ttl {
            width: 29.6vw;
            height: 12.8vw;
            margin: 0 auto 7.5vw;
        }

    &__accordion {

        &--ttl {
            @include var.fz(14);
            line-height: 1.5;
            padding: 8vw 13vw 8vw 13.3vw;
            background-size: 9vw 9vw;

            &:before,
            &:after {
                right: 0;
                width: 7.2vw;
                height: 2px;
            }

        }

        &--cnt {

            &inner{
                @include var.fz(14);
                padding:0 13vw 8vw 13.3vw;
                background-size: 9vw 9vw;

            }
            p {
                margin: 0;
            }
        }
    }
    }
}

// @include var.webpBg('.footer__anotherlogo', var.$imgpath+'another_logo', 'png');